@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #0f1014;
  color: #f0e1e9;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  font-size: var(--text-base);
  min-height: 2000px;
}

a {
  text-decoration: none;
  color: #f0e1e9;
}

:root {
  --text-base: 14px;
  --text-md: 16px;
  --text-lg: 18px;
}

@media (min-width: 424px) {
  body {
    font-size: var(--text-md);
  }
}
@media (min-width: 766px) {
  body {
    font-size: var(--text-lg);
  }
}
