@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #14151c;
  color: #f0e1e9;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  font-size: var(--text-base);
  min-height: 2000px;
}

a {
  text-decoration: none;
  color: #f0e1e9;
}

:root {
  --text-base: 14px;
  --text-md: 16px;
  --text-lg: 18px;
  --heading2-base: 24px;
  --heading2-md: 32px;
  --heading2-lg: 42px;

  --HORIZONTAL-DIVIDER-GRADIENT: linear-gradient(
    90deg,
    rgba(112, 122, 148, 0),
    #707a94 50%,
    rgba(112, 122, 148, 0)
  );
  --HORIZONTAL-DIVIDER-GRADIENT-01: linear-gradient(
    90deg,
    rgba(9, 90, 229, 0),
    #095ae5 50%,
    rgba(9, 90, 229, 0)
  );
  --HORIZONTAL-DIVIDER-GRADIENT-LEFT: linear-gradient(
    90deg,
    rgba(112, 122, 148, 0),
    #707a94
  );
  --HORIZONTAL-DIVIDER-GRADIENT-RIGHT: linear-gradient(
    90deg,
    #707a94,
    rgba(112, 122, 148, 0) 100%
  );
}
.H2banner {
  font-size: var(--heading2-base);
}
.H2Feature {
  font-size: var(--heading2-base);
}
@media (min-width: 426px) {
  body {
    font-size: var(--text-md);
  }
  .H2banner {
    font-size: var(--heading2-md);
  }
}
@media (min-width: 769px) {
  body {
    font-size: var(--text-lg);
  }
  .H2banner {
    font-size: var(--heading2-lg);
  }
  .H2Feature {
    font-size: var(--heading2-md);
  }
}
